---
layout: 2020/list
section: propuestas
permalink: 2020/talleres/
title: Talleres esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Talleres para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<ul id="list">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2020/talleres' workshop workshop.path contains '.md' and workshop.category == 'workshops' %}
  <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.title}}</a></li>
  {% endif %}
  {% endfor %}
</ul>
